.glasses {
  display: inline;
  height: 1.6rem;
  margin: -0.3rem 0.5rem -0.3rem 0;
  border-radius: 0;
}

@media (max-width: 48em) {
  .glasses { display: none; }
}

.share {
  text-align: right;
  margin-bottom: 3em;
}

.more {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  text-align: right;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
}

.button {
  color: #BBC7CC;
  border: 1px solid #BBC7CC;
  padding: 0.5em;
  transition: all 0.5s ease;
  text-decoration: none !important;
}

.button:hover {
  color: #50585D;
}
