---
layout: default
comments: true
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {{ page.date | date_to_string }}
    &middot;
    <a href="{{ post.url }}#disqus_thread" class="post-date">Comments</a>
  </span>
  {{ content }}
</div>

<div class="share">
  <a title="Twitter" href="https://twitter.com/share?text={{page.title | cgi.escape}}&amp;url={{site.url}}{{page.url}}" class="button socicon" target="blank">a</a>
  <a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="button socicon" target="blank">b</a>
  <a title="Google+" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" class="button socicon" target="blank">c</a>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'colinthegeek';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
