---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="share">
  <a title="Twitter" href="https://twitter.com/share?text={{page.title | cgi.escape}}&amp;url={{site.url}}{{page.url}}" class="socicon" target="blank">a</a>
  <a title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" class="socicon" target="blank">b</a>
  <a title="Google+" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" class="socicon" target="blank">c</a>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
